<section class="sec1">

    <div class="texto">
        <h1>Venha conhecer nossos cursos!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum magnam optio assumenda debitis omnis consequatur libero exercitationem voluptates, tempora, architecto recusandae quidem esse aperiam, repellendus odit nesciunt accusantium iure itaque?</p>
        <button class="btn_sec1">Saiba mais</button> 
    </div>

    <img class="imgSec1" src="../../../assets/img/imgSec1jpg.jpg" alt="Escola Senai Paulo Antonio Skaf">
    
</section>
